<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="./js/cityAndPro.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    <script src="{{ url_for('static',filename='js/cityAndPro.js') }}"></script>
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='css/coming-sssoon.css') }}" rel="stylesheet"/>



    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}" media="all" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}" media="all" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" media="all" />



	</head>

<body background=url_for('static', filename='images/default.jpg', _external=True>
<div class="main" style="background-image: url('static/images/default.jpg')">

<div class="container" >
			<!--顶部盒子-->
			<div class="top">
				<ul class="tab_box">
					<li class="tab1 active">房源概况</li>
				</ul>
				<div class="top_center"><h3>机器学习房价预测</h3></div>
			</div>
			<!--第一页中间部分的盒子-->
			<div class="main_box">
				<div class="main_left">
					<div class="left_top">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon4.png" />查房源</div>
						<div class="data_num_box">
							<div class="data_box1 active">
								<div class="data_title">总数据量</div>
								<font class="font qianlan" face="font01">657.5K</font>
								<span>条</span>
								<div class="j1_box1">
									<span class="j1_1"></span>
									<span class="j1_2"></span>
									<span class="j1_3"></span>
									<span class="j1_4"></span>
								</div>
							</div>
							<div class="data_box2">
								<div class="data_title">今日数据量</div>
								<font class="font shenlan" face="font01">0.87K</font>
								<span>条</span>
							</div>
						</div>

{#						<div id="echarts_data1"></div>#}


                    <div style="height: 80px;">
                        <div class="col-sm-3">
                            <div class="data_title">地址：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select onchange="func()" name="input_province" id="input_province" class="form-control" >
                                <option value="">省级行政区</option>
                                {% for city in provinceList%}
                                    <option >{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select name="input_city" id="input_city" class="form-control">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                    </div>


                    <div style="height: 80px;">
                        <div class="col-sm-3">
                            <div class="data_title">房型：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select class="form-control" id="room_Type">
                                <option value="">--请选择--</option>
                                {% for roomType in roomTypeList %}
                                    <option>{{ roomType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div style="height: 80px">
                        <div class="col-sm-3">
                            <div class="data_title">楼层：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select  class="form-control" id="floor_Type">
                                <option value="">低层</option>
                                <option value="">中层</option>
                                <option value="">高层</option>
                            </select>
                        </div>
                    </div>

                    <div style="height: 80px">
                        <div class="col-sm-3">
                            <div class="data_title">面积：</div>
                        </div>
                        <div class="col-sm-4 ">
                             <input id="area" class="form-control transparent" placeholder="房屋面积" >
                        </div>
                         <div class="col-sm-3">
                            <div class="data_title">(平方米)</div>
                        </div>
                    </div>


                    <div style="height: 80px">
                        <div class="col-sm-3">
                            <div class="data_title">建造年份：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select  class="form-control" id="build_Type">
                                 <option value="">--请选择--</option>
                                {% for buildTime in buildTimeList %}
                                    <option>{{ buildTime }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="priceButton" class="col-sm-4">
                            <button onclick="predict()" class="btn btn-info btn-fill" id="predict" name="predict">预测房价</button></br>
                        </div>
                    </div>

                    <div class="center-block">
                        <div  class="col-sm-4">

                            <div class="data_title" style="height: 80px"><h3>预测房价(万元)</h3></div>
                            <div class="data_title"><h1 id="price"></h1></div>
                        </div>

                    </div>




                    </div>
                </div>



				<div class="main_center">
					<div class="center_top">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon3.png" />实时数据归集</div>
						<div id="center_map">
							<ul>
								<span class="open qianlan">开</span>
								<li class="tiao">
									<span class="open_btn"></span>
									<span class="off_btn"></span>
								</li>
								<span class="off qianlan">关</span>
							</ul>
						</div>
					</div>
					<div class="center_bottom">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon2.png" />社区数据接入</div>
						<div class="sq_data">
							<div class="sq_left">
								<div class="sq_left_t">
									<div class="data_box" style="text-align: center;">
										<font class="font3 qianlan" face="font01">3252</font><span>个</span>
										<div class="data_title2">社区总数量</div>
									</div>
								</div>
								<span class="line"></span>
								<div class="sq_left_b">
									<div class="data_box" style="text-align: center;">
										<font class="font3 huangse" face="font01">1521</font><span>个</span>
										<div class="data_title2">已接入社区数量</div>
									</div>
								</div>
							</div>
							<div id="sq_right">
								<!--echarts-->
							</div>
						</div>
					</div>
				</div>

				<div class="main_right">
					<div class="right_top">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon5.png" />数据建模</div>
						<div class="data_sjjm">
							<div class="data_box2">
								<div class="data_title">基础库</div>
								<font class="font qianlan" face="font01">451</font>
								<span>个</span>
							</div>
							<div class="data_box2">
								<div class="data_title">主题库</div>
								<font class="font shenlan" face="font01">876</font>
								<span>个</span>
							</div>
							<div class="data_box2">
								<div class="data_title">专题库</div>
								<font class="font zise" face="font01">678</font>
								<span>个</span>
							</div>
						</div>
					</div>
					<div class="right_bottom">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon1.png" />热门库</div>
						<div class="qiuqiu">
							<img src="img/page1/qiuqiu.png" />
						</div>
						<div id="jindu2">

						</div>
					</div>
				</div>
			</div>


		</div>


{#<div class="container">#}
{##}
{##}
{#    <div class="col-sm-8">#}
{#        <div class="col-sm-2">#}
{#            <h5>地址：</h5>#}
{#        </div>#}
{#        <div class="col-sm-3 ">#}
{#            <select name="input_province" id="input_province" class="form-control">#}
{#                <option value="">--省级行政区--</option>#}
{#            </select>#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <select name="input_city" id="input_city" class="form-control">#}
{#                <option value="">--请选择--</option>#}
{#            </select>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="col-sm-8">#}
{#        {{ dict.name }}#}
{#        <div class="col-sm-2">#}
{#            <h5>房型：</h5>#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <select  class="form-control" id="room_Type">#}
{#                 <option value="">--请选择--</option>#}
{#              {% for roomType in roomTypeList %}#}
{#                  <option>{{ roomType }}</option>#}
{#              {% endfor %}#}
{#          </select>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="col-sm-8">#}
{#        <div class="col-sm-2">#}
{#            <h5>楼层：</h5>#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <select  class="form-control" id="floor_Type">#}
{#                     <option value="">低层</option>#}
{#                     <option value="">中层</option>#}
{#                     <option value="">高层</option>#}
{#                 </select>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="col-sm-8">#}
{#        <div class="col-sm-2">#}
{#            <h5>面积（平方米）：</h5>#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <input id="area" class="form-control transparent" placeholder="房屋面积">#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#    <div class="col-sm-8">#}
{#        <div class="col-sm-2">#}
{#            <h5>建造年份：</h5>#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <select  class="form-control" id="build_Type">#}
{#                <option value="">--请选择--</option>#}
{#                {% for buildTime in buildTimeList %}#}
{#                    <option>{{ buildTime }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <button onclick="predict()" class="btn btn-info btn-fill" id="predict" name="predict">预测房价</button></br>#}
{##}
{#            <div id="price">#}
{#                预测房价为:#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{##}
{##}
{#    </div>#}
{##}
{##}
{#</div>#}


</div>


</body>
<script type="text/javascript">
    function predict() {

        var address1 = $("#input_province").find("option:selected").text();
        var address2 = $("#input_city").find("option:selected").text();
        var roomType = $("#room_Type").find("option:selected").text();
        var buildTime = $("#build_Type").find("option:selected").text();
        var area = $("#area").val()
        alert("地址：" + address1 + " " + address2 + "\n" + "房型：" + roomType + "\n" + "建造时间：" + buildTime + "\n" + "面积：" + area);

        var data = {
            'address1': address1, 'address2': address2,
            'roomType': roomType,
            'buildTime': buildTime,
            'area': area
        }

        $.ajax({
            type: 'GET',
            data: data,
            url: "/prarmsSubmit/",
            dataType: 'text',
            success: function (data) {
                alert(data);
                $("#price").html(data)


                //location.reload();
            }

        });
    }

</script>

<script>
			$(function() {
				var html = "";
				var province_idx;
				$("#input_city").append(html);

				$.each(cityMessage, function(idx, item) {
					if(item.parid == '1'){
					html += "<option value='" + item.regname + "' exid='" + item.regid + "'>" + item.regname + "</option>";
                    }

				});
				$("#input_province").append(html);
				$("#input_province").change(function(e) {
					var province =$(this).val();
					var cityList = [];
					if(province == "") return;
					$("#input_city option").remove();
					var html = "<option value=''>--请选择--</option>";

//					获取已选择的省份的数组下标
					$.each(cityMessage, function(idx, item) {
						if(province == item.regname && item.parid == '1') {
							province_idx=idx
						}
					})

//					获取已选择的省份的城市列表
					$.each(cityMessage, function(idx, item) {
						if(cityMessage[idx].parid == cityMessage[province_idx].regid) {
							cityList.push(cityMessage[idx])
						}
					})

//					添加城市信息给标签
					if(cityList instanceof Array && cityList.length>0){
						$.each(cityList, function(idx, item) {
							console.log(item)
							html += "<option value='" + item.regname + "' exid='" + item.regid + "'>" + item.regname + "</option>";

						});
					}else{
						html += "<option value='" + cityMessage[province_idx].regname + "' exid='" + cityMessage[province_idx].regid + "'>" + cityMessage[province_idx].regname + "</option>";

					}
					$("#input_city").append(html);
				});
			});
		</script>




</html>