<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="../js/cityAndPro.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    <script src="{{ url_for('static',filename='js/cityAndPro.js') }}"></script>

<script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/echart_part1.js') }}"></script>
<script src="{{ url_for('static',filename='js/office_efficiency_data.js') }}"></script>

    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='css/coming-sssoon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static',filename='css/comon0.css') }}" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}" media="all" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}" media="all" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" media="all" />


{#    <meta charset="UTF-8">#}
{#    <title>Awesome-pyecharts</title>#}
{#    echarts相关#}

    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
    <script src="{{ url_for('static',filename='js/MapFile.js') }}" type="text/javascript"></script>


    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/beijing.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/hebei.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/shanxi1.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/shanghai.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/gansu.js"></script>





	</head>
{#<script>#}
{#	$(window).load(function(){#}
{#             $(".loading").fadeOut()#}
{#            })#}
{##}
{#/****/#}
{#$(document).ready(function(){#}
{#	var whei=$(window).width()#}
{#	$("html").css({fontSize:whei/20})#}
{#	$(window).resize(function(){#}
{#		var whei=$(window).width()#}
{#	 $("html").css({fontSize:whei/20})#}
{#});#}
{#	});#}
{#	</script>#}
{#<script src="../js/echarts.min.js"></script>#}
{#<script language="JavaScript" src="../js/echart_part1.js"></script>#}

<body onload="getLocation()",background=url_for('static', filename='images/default.jpg', _external=True>
<div class="main" style="background-image: url('static/images/default.jpg')">

<div class="container" >
			<!--顶部盒子-->
			<div class="top">
				<ul class="tab_box">
					<li class="tab1 active">房源概况</li>
				</ul>
				<div class="top_center"><h3>机器学习房价预测</h3></div>
			</div>
			<!--第一页中间部分的盒子-->
			<div class="main_box">
				<div class="main_left">
					<div class="left_top">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon4.png" />查房源</div>
						<div class="data_num_box" style="height: 120px;">
							<div class="data_box1 active">
                                <div class="data_title"><h5>当前城市</h5></div>
                                <font class="font qianlan" face="font01"></font>
                                <h2 id="provinceNow" class="font qianlan" face="font01"></h2>
{#                                <font class="font qianlan" face="font01"><h2 id="cityNow"></h2></font>#}
							</div>
						</div>

{#						<div id="echarts_data1"></div>#}


                    <div style="height: 70px;">
                        <div class="col-sm-3">
                            <div class="data_title">地址：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select onchange="func()" name="input_province" id="input_province" class="form-control" >
                                <option value="">省级行政区</option>
                                {% for city in provinceList%}
                                    <option >{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select name="input_city" id="input_city" class="form-control">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                    </div>


                    <div style="height: 70px;">
                        <div class="col-sm-3">
                            <div class="data_title">房型：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select class="form-control" id="room_Type">
                                <option value="">--请选择--</option>
                                {% for roomType in roomTypeList %}
                                    <option>{{ roomType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div style="height: 70px">
                        <div class="col-sm-3">
                            <div class="data_title">楼层：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select  class="form-control" id="floor_Type">
                                {% for floorType in floorTypeList %}
                                    <option>{{ floorType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div style="height: 70px">
                        <div class="col-sm-3">
                            <div class="data_title">面积：</div>
                        </div>
                        <div class="col-sm-4 ">
                             <input id="area" class="form-control transparent" placeholder="房屋面积" >
                        </div>
                         <div class="col-sm-3">
                            <div class="data_title">(平方米)</div>
                        </div>
                    </div>


                    <div style="height: 70px">
                        <div class="col-sm-3">
                            <div class="data_title">建造年份：</div>
                        </div>
                        <div class="col-sm-4 ">
                            <select  class="form-control" id="build_Type">
                                 <option value="">--请选择--</option>
                                {% for buildTime in buildTimeList %}
                                    <option>{{ buildTime }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="priceButton" class="col-sm-4">
                            <button onclick="predict()" class="btn btn-info btn-fill" id="predict" name="predict">预测房价</button></br>
                        </div>
                    </div>


                    <div class="data_num_box" >
							<div class="data_box1 active">
                                <div class="data_title"><h3>预测房价(万元)</h3></div>
                            <div class="data_title"><h1 id="price"></h1></div>
							</div>
                    </div>

                    </div>

                    <div class="left_bottom">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
						<div class="title"><img src="img/page1/icon5.png" />房源推荐</div>
						<div class="data_sjjm">
							<div class="data_box2">
								<div class="data_title">基础库</div>
								<font class="font qianlan" face="font01">451</font>
								<span>个</span>
							</div>
							<div class="data_box2">
								<div class="data_title">主题库</div>
								<font class="font shenlan" face="font01">876</font>
								<span>个</span>
							</div>
							<div class="data_box2">
								<div class="data_title">专题库</div>
								<font class="font zise" face="font01">678</font>
								<span>个</span>
							</div>
						</div>
					</div>
                </div>


				<div class="main_center">

					<div class="center_top">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
{#						<div class="title"><img src="img/page1/icon3.png" />实时数据归集</div>#}

                        <div id="center_map">
                            <div id="mapEchart" class="chart-container" style="width:800px; height:550px;"></div>
{#                            <script type="text/javascript">#}
{#                                var CityId='mapEchart';#}
{#                                BeiJing(CityId);#}
                                {#ShanXi(CityId);#}
{#                            </script>#}
                        </div>

					</div>


					<div class="center_bottom">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
{#						<div class="title"><img src="img/page1/icon2.png" />社区数据接入</div>#}
                          <div class="center_bottom_left">
                              <div class="allnav" id="echart4"></div>
                          </div>
                        <div class="center_bottom_right">
{#	                             <div  class="col-info">#}
{#                                     <div class="title">耗时步骤分析</div>#}
{#                                     <div class="content" id="time-step-detial"></div>#}
{#                                 </div>#}
                             <div class="allnav" id="time-step-detial"></div>
                        </div>


{#						<div class="sq_data">#}
{#							<div class="sq_left">#}
{#								<div class="sq_left_t">#}
{#									<div class="data_box" style="text-align: center;">#}
{#										<font class="font3 qianlan" face="font01">3252</font><span>个</span>#}
{#										<div class="data_title2">社区总数量</div>#}
{#									</div>#}
{#								</div>#}
{#								<span class="line"></span>#}
{#								<div class="sq_left_b">#}
{#									<div class="data_box" style="text-align: center;">#}
{#										<font class="font3 huangse" face="font01">1521</font><span>个</span>#}
{#										<div class="data_title2">已接入社区数量</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<div id="sq_right">#}
{#								<!--echarts-->#}
{#							</div>#}
{#						</div>#}
					</div>
				</div>

				<div class="main_right">
					<div class="right_bottom">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
{#						<div class="title"><img src="img/page1/icon1.png" />热门库</div>#}
                         	<div id="progress1_chart"></div>
{#						<div class="qiuqiu">#}
{#							<img src="img/page1/qiuqiu.png" />#}
{#						</div>#}
{#						<div id="jindu2">#}
{##}
{#						</div>#}
					</div>

                    <div class="right_top">
						<span class="j_1"></span>
						<span class="j_2"></span>
						<span class="j_3"></span>
						<span class="j_4"></span>
{#						<div class="title"><img src="img/page1/icon5.png" />数据建模</div>#}
                        <div class="data_sjjm">
							<div name="pie1test" id="1af4b50fc15548d4a7c1d2a0bdbe4fcfhhhh" class="data_box2" style="width:200px; height:170px;"></div>

{#							<div class="data_box2">#}
								 <div name="pie2test" id="f0458ed86c824a34b3b948f888a080e4" class="data_box2" style="width:200px; height:170px;"></div>


						</div>

                        <div class="data_sjjm">
							<div name="pie3test" id="cbc38fe58cb74d2e91813eda4ee7e6b6" class="chart-container" style="width:200px; height:170px;"></div>

{#							<div class="data_box2">#}
								<div name="pie4test" id="99ac3f72027740e5b5ba743d20377c54" class="chart-container" style="width:200px; height:170px;"></div>

{#							</div>#}
						</div>

                        <div class="data_sjjm">
							<div name="pie5test" id="e5ad5f74632442e5bf022439396a9f50" class="chart-container" style="width:200px; height:170px;"></div>

{#							<div class="data_box2">#}
								 <div name="pie6test" id="7ae24e84cda446d99e29ec37d1c77de2" class="chart-container" style="width:200px; height:170px;"></div>

{#							</div>#}
						</div>



					</div>


				</div>
			</div>


		</div>

</div>


</body>

{#定位，得到当前城市#}
<script>
var x=document.getElementById("provinceNow");
function getLocation()
{
if(navigator.geolocation)
	{
	   navigator.geolocation.getCurrentPosition(showPosition,showError);
	}
else
	{
	x.innerHTML="该浏览器版本不支持定位";
	}
}
function showPosition(position)//经纬度获取
{
    var lat=position.coords.latitude;
    var lng=position.coords.longitude;

    data={
        'latitude':lat,
        'longitude':lng
    }
    $.ajax({
            type: 'GET',
            data: data,
            url: "/getLocation/",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                {#alert(JSON.stringify(data))#}
                alert("当前所在城市："+data.province+" "+data.city+" 纬度："+lat+ "经度："+lng);
                var echartsId='mapEchart';
                {#HeBei(echartsId);#}
                {#ShangHai(echartsId);#}
                GanSu(echartsId);
                {#BeiJing(echartsId);#}

                $("#provinceNow").html(data.province+":"+data.city)
                {#$("#cityNow").html(data.city)#}
            }
        });


}
function showError(error)//错误抛出
{
	switch(error.code)
	{
	case error.PERMISSION_DENIED:
	x.innerHTML="用户拒绝对获取地理位置的请求。"
	break;
	case error.POSITION_UNAVAILABLE:
		x.innerHTML="位置信息是不可用的。"
		break;
	case error.TIMEOUT:
		x.innerHTML="请求用户地理位置超时。"
		break;
	case error.UNKNOWN_ERROR:
		x.innerHTML="未知错误。"
		break;
	}
}
</script>

{#获得用户输入并返回预测结果#}
<script type="text/javascript">
    function predict() {

        var address1 = $("#input_province").find("option:selected").text();
        var address2 = $("#input_city").find("option:selected").text();
        var roomType = $("#room_Type").find("option:selected").text();
        var floorType=$("#floor_Type").find("option:selected").text();
        var buildTime = $("#build_Type").find("option:selected").text();
        var area = $("#area").val()
        alert("地址：" + address1 + " " + address2 + "\n" + "房型：" + roomType + "\n" + "建造时间：" + buildTime + "\n" + "面积：" + area);

        var data = {
            'address1': address1,
            'address2': address2,
            'roomType': roomType,
            'floorType':floorType,
            'buildTime': buildTime,
            'area': area
        }

        $.ajax({
            type: 'GET',
            data: data,
            url: "/prarmsSubmit/",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data.price);
                $("#price").html(data.price);
                console.log(data.price);
                console.log(data.pie1);
                //document.getElementsByTagName("pie1test").setAttribute("id","1af4b50fc15548d4a7c1d2a0bdbe4fcf");
                $("#1af4b50fc15548d4a7c1d2a0bdbe4fcfhhhh").html(data.pie1);
                $("#f0458ed86c824a34b3b948f888a080e4").html(data.pie2);
                $("#cbc38fe58cb74d2e91813eda4ee7e6b6").html(data.pie3);
                $("#99ac3f72027740e5b5ba743d20377c54").html(data.pie4);
                $("#e5ad5f74632442e5bf022439396a9f50").html(data.pie5);
                $("#7ae24e84cda446d99e29ec37d1c77de2").html(data.pie6);

                var CityId='mapEchart';
                {#$("#mapEchart").html('')#}
                if(address1=="北京"){
                    BeiJing(CityId);
                }
                else if(address1=="上海"){
                    ShangHai(CityId);
                }
                else if(address1=="河北"){
                    HeBei(CityId);
                }

            }
        });
    }

</script>

{#获取省级行政区以及地级市#}
<script>
			$(function() {
				var html = "";
				var province_idx;
				$("#input_city").append(html);

				$.each(cityMessage, function(idx, item) {
					if(item.parid == '1'){
					html += "<option value='" + item.regname + "' exid='" + item.regid + "'>" + item.regname + "</option>";
                    }

				});
				$("#input_province").append(html);
				$("#input_province").change(function(e) {
					var province =$(this).val();
					var cityList = [];
					if(province == "") return;
					$("#input_city option").remove();
					var html = "<option value=''>--请选择--</option>";

//					获取已选择的省份的数组下标
					$.each(cityMessage, function(idx, item) {
						if(province == item.regname && item.parid == '1') {
							province_idx=idx
						}
					})

//					获取已选择的省份的城市列表
					$.each(cityMessage, function(idx, item) {
						if(cityMessage[idx].parid == cityMessage[province_idx].regid) {
							cityList.push(cityMessage[idx])
						}
					})

//					添加城市信息给标签
					if(cityList instanceof Array && cityList.length>0){
						$.each(cityList, function(idx, item) {
							console.log(item)
							html += "<option value='" + item.regname + "' exid='" + item.regid + "'>" + item.regname + "</option>";

						});
					}else{
						html += "<option value='" + cityMessage[province_idx].regname + "' exid='" + cityMessage[province_idx].regid + "'>" + cityMessage[province_idx].regname + "</option>";

					}
					$("#input_city").append(html);
				});
			});
		</script>

<script>
    function test(){
        alert("sss");
    }
</script>

</html>